﻿@model WebApplication4.Models.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}


    <div style="padding-left:5%;">

        <table style="width:100%">

            <tr>
                <td style="font-weight: bold;">@Html.DisplayFor(model => model.Name)</td>
                <td style="text-align:right;">
                    Date and time added: @Html.DisplayFor(model => model.DateAdded)| Last modified on: @Html.DisplayFor(model => model.DateModified)
                </td>
            </tr>
        </table>
        <br />
        <table class="words" style="width:100%">
            <tr class="rows">
                <th class="header">Word</th>
                <th class="header">Date started</th>
                <th class="header">Action</th>
            </tr>
            @if (Model.Keywords.Count() > 0)
            {

                @foreach (var word in Model.Keywords)
                {
                    <tr class="rows">
                        <td class="columns">
                            @word.Word
                        </td>
                        <td class="columns">
                            @word.DateStarted
                        </td>
                        <td class="columns" style="text-align:right;">
                            <div style="white-space: nowrap;">
                                <input disabled type="checkbox" asp-for="@word.Active">
                                @if (word.Active == true)
                                {
                                    <a asp-action="ActivateOrDisable" asp-controller="Keyword" asp-route-id="@word.KeywordId">Disable</a>
                                }
                                else if (word.Active == false)
                                {
                                    <a asp-action="ActivateOrDisable" asp-controller="Keyword" asp-route-id="@word.KeywordId">Activate</a>
                                }
                                <a asp-action="DeleteWord" asp-controller="Keyword" asp-route-id="@word.KeywordId">Delete</a>

                            </div>
                        </td>
                    </tr>
                }


            }
            else
            {
                <tr class="rows" style="text-align:center;">
                    <td class="columns">-</td>
                    <td class="columns">-</td>
                    <td class="columns">-</td>
                </tr>
            }
        </table>
        <br />
        <div style="text-align:right;">
            <a class="submit" asp-route-id="@Model.Id" asp-controller="Keyword" asp-action="AddKeyword">Add a word</a>
        </div>

        <div class="form-group">
            <label asp-for="Sentence" class="control-label"></label>
            <input disabled="disabled" asp-for="Sentence" class="form-control" />
        </div>
        
        <div style="text-align:right;">
            @if (Model.Sentence != null)
            {
                <a class="submit" asp-route-id="@Model.Id" asp-controller="Tweet" asp-action="SerachForTweets">START</a>
            }
        </div>

    </div>

<link href="~/css/addkeyword.css" rel="stylesheet" />