﻿@model WebApplication4.Models.EditProjectViewModel

@{
    ViewData["Title"] = "EditProject";
}
<div style="padding-left:5%;">
    <h1>Edit Project</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditProject">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Id" class="control-label"></label>*@
                    <input type="hidden" disabled asp-for="Id" class="form-control" />
                    @*<span asp-validation-for="Id" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="submit" />
                    <a asp-route-id="@Model.UserId" asp-action="MyProfile" asp-controller="Account" class="submit">Cancel</a>

                </div>
            </form>
        </div>
    </div>


</div>
