﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            

            <li class="dropdown nav-item">
                <button class="btn btn-default dropdown-toggle" style="width:auto;"  data-toggle="dropdown" type="submit">
                      @User.Identity.Name
                </button>
                <span class="caret" ></span>

                <ul class="dropdown-menu" style="text-align:center;width:auto;">
                    <li><a class="nav-link text-dark" asp-action="EditUser" asp-controller="Administration" asp-route-id="@UserManager.GetUserId(Context.User)">Edit information</a></li>
                    <li><a class="nav-link text-dark" asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@UserManager.GetUserId(Context.User)">Delete account</a></li>
                    <li><a class="nav-link text-dark" asp-controller="Administration" asp-action="ChangePassword">Change password</a></li>
                    <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Log out</a></li>
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        }
    </ul>
