﻿
@{
    ViewData["Title"] = "Confirm Email";
}

    <div style="padding-left:5%;text-align:center;">
        <div style="text-align:center;" id="image">
            <img src="~/images/like.png" style="width: 30%;height: auto;" />
        </div>
        <br />
        <h1>Email confirmed!</h1>

    </div>

