﻿@model WebApplication4.Models.EditViewModel

@{
    ViewData["Title"] = "Edit User";
}
    <div style="padding-left:5%;">
        <h1>Edit user</h1>

        <hr />
        <div class="row">
            <div class="col-md-10">
                <form enctype="multipart/form-data" asp-action="EditUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        @*<label asp-for="Id" class="control-label"></label>*@
                        <input type="hidden" asp-for="Id" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Picture" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Picture" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="submit">Update</button>
                        <a asp-route-id="@Model.Id" asp-action="MyProfile" asp-controller="Account" class="submit">Cancel</a>
                    </div>

                    @section Scripts {
                        <script>
                            $(document).ready(function () {
                                $('.custom-file-input').on("change", function () {
                                    var fileName = $(this).val().split("\\").pop();
                                    $(this).next('.custom-file-label').html(fileName);
                                });
                            });
                        </script>
                    }

                </form>
            </div>
        </div>

    </div>

