﻿.submit1 {
    /*border-radius: 5em;*/
    /*color: white;*/
    background: linear-gradient(to right, #0433BF, #0B9ED9);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 2%;
    height: auto;
    width: 250px;
    /*font-size: 13px;*/
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-align: center;
    grid-area: user;
}

h3 {
    font-size: 20px;
}

.app {
    height: auto;
    /*width: auto;*/
    display: grid;
    grid-template-columns: 22vw 80vw;
    /*grid-template-rows: 50vh;*/
    grid-template-areas: "user project";
}

.project {
    grid-area: project;
    width: 900px;
    margin: 0%;
}

tr:hover {
    background-color: aliceblue;
}

th {
    font-weight: bold;
    text-align:center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
