﻿.report {
    display: grid;
    grid-template-columns: 15% 40% 45%;
    grid-template-areas: "report chart months";
    width:auto;
}

#canvas-holder-pie {
    grid-area: chart;
    /*height:600px;*/
    float:right;
}

.row {
    grid-area: report;
}

#chart-area-pie{
    float:right;
}

#canvas-holder-chart {
    grid-area: months;
    /*height: 400px;*/
    float: left;
}

#chart-area-chart {
    float: left;
}

#image-opinion {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "image op";
    width: auto;
}

#image {
    grid-area: image;
}

#opinion {
    grid-area: op;
}